* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}



body {
  background: #16a085;
}

.glassmorphism {
  background: #1abc9c; /* Semi-transparent white background */
  border-radius: 15px; /* Rounded corners */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light border for depth */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  transition: background 0.3s ease; /* Smooth transition for hover effects */
}

.glassmorphism:hover {
  background: #0c3c4c; /* Change background on hover */
}
